---
layout: default
---

<div class="well">
{%for post in site.posts %}
    {% unless post.next %}
        <h1>{{ post.date | date: '%Y %b' }}</h1>
        <ul>
    {% else %}
        {% capture date %}{{ post.date | date: '%Y %b' }}{% endcapture %}
        {% capture ndate %}{{ post.next.date | date: '%Y %b' }}{% endcapture %}
        {% if date != ndate %}
            </ul>
            <h1>{{ post.date | date: '%Y %b' }}</h1>
            <ul>
        {% endif %}
    {% endunless %}
    <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.date | date: "%b %-d" }} - {{ post.title }}</a></li>
{% endfor %}
</ul>
</div>
